<div class="caixaPrincipal">
  <h1>Tarefa juros</h1>
  <div class="inputs">
    <div class="juros" *ngIf="option == '0'">
      <h3>Selecione um tipo de juros:</h3>
    </div>

    <input type="radio" [(ngModel)]="option" [value]="1" name="JurosSimples" />
    <label for="JurosSimples">Selecionar Juros simples</label>
    <br />
    <input type="radio" [(ngModel)]="option" [value]="2" name="JurosComposto" />
    <label for="JurosComposto">Selecionar Juros composto</label>
  </div>

  <div class="juros" *ngIf="option == '1'">
    <app-jurossimples> </app-jurossimples>
  </div>

  <div class="jurosComposto" *ngIf="option == '2'">
    <app-juroscomposto></app-juroscomposto>
  </div>
</div>
